######################
## MooKit .htaccess ##
######################

## General Configuration ##
##

# enable symbolic links
# disable directory browsing
Options +FollowSymLinks -Indexes

#turn off auto-adding directory slashes
DirectorySlash Off

# prevent folder listing
IndexIgnore *

## URL Rewriting ##
##
<IfModule mod_rewrite.c>

	RewriteEngine On

	## Rewrite Debugging Script - send rules to this location to help debug rewrite issues
	#RewriteRule ^(.*)$ ../mod_rewrite_debug.php?request=$1 [L]
	
	# Moved doc folders up a directory, no longer need these rules
		## Allow access to documentation folders
		#RewriteRule docs$ docs/ [L]
		#RewriteRule docs/jsDocs$ docs/jsDocs/ [L]
		#RewriteRule docs/phpDocs$ docs/phpDocs/ [L]
		#RewriteRule docs/$|docs/jsDocs/$|docs/phpDocs/$ - [L]


	## Force connections through index.php for handling
	## if not already index.php
	RewriteCond %{REQUEST_URI} !/index\.php$
	## and request has not already been set
	RewriteCond %{QUERY_STRING} !request=
	RewriteRule ^(.+)$ /index.php?request=$1 [L]
	
</IfModule>

<IfModule mod_php5.c>
  php_value auto_prepend_file codeCore/php/init.php
</IfModule>


## Caching ##
##
<IfModule mod_expires.c>
	# minimize image flicker in IE6
	ExpiresActive On
	ExpiresByType image/gif A2592000
	ExpiresByType image/jpg A2592000
	ExpiresByType image/png A2592000
</IfModule>


## Other ##
##
